/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/******************************************
	GENERAL
******************************************/
html {
	width:100%;
}

body {
    background-color : #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

input:focus {
	border: 1px solid skyblue;
}


/******************************************
	HEADER
******************************************/
#nav {
    width: 310px;
    height: auto;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    border-radius: 8px;
    float: right;
    padding-top: 5px;
}

#nav ul {
    height: auto;
    padding: 8px 0px;
    margin-top: 10px;
}

#nav li {
display: inline;
padding: 10px;
}

#nav li:nth-child(4)  a:hover {
	text-decoration: none;
}
.blue {
    color: white;
    background: royalblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    height: 35px;
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: 10px;

}

#grid {
	height: 20px;
}



/******************************************
	 SECTION
******************************************/


#content {
	margin: 0 auto;
}
button {
	width: 50%;
	height: 35px;
	margin-top: 5px;
	display: inline;
	

}

.button1 {
	width: 50%;
	margin-left: 25%;
}

#click  {
}

/********************
	 LOGO
********************/
#logo {
	width: 50%;
	margin-top: 160px;
	margin-left: 25%;
}

/********************
	 FORM
********************/

form {
    margin: 0 auto;
}


.searchBar {
	width: 60%;
	margin-left:20%;
	height: 40px;
}

/******************************************
	FOOTER
******************************************/


#foot {
	padding-top: 150px;
	width:300px;
	background-color: #lightgray;
}
#foot ul li {
	display: inline;
	margin: 0 auto;
	padding: 5px;
}


/******************************************
	RIGHT FOOTER
******************************************/


/*#right {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    border-radius: 8px;
    float: right;
    margin-right: -50px;
}

#right ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#right li {
display: inline;
padding: 10px;
} */







/******************************************
	 LEFT FOOTER
******************************************/


/*#left {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    border-radius: 8px;
    float: left;
    margin-left: -50px;
}

#left ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#left li {
display: inline;
padding: 10px;
}
